<div class="row sections-brief">
  <div class="container">
    <ul class="">
      <% if (one != ''){ %>
        <li>
          <a href=""> <%= one %> </a>
        </li>
      <%}%>

      <% if (two != ''){%>
        <li>
          <a href=""> <%= two %> </a>
        </li>
      <% }%>

      <% if (three != '') {%>
        <li>
          <a href=""> <%= three %> </a>
        </li>
      <%} %>

      <% if (four != '') {%>
        <li>
          <a href=""> <%= four %> </a>
        </li>
      <%}%>

      <% if (five !== ''){%>
        <li>
          <a href=""> <%= six %> </a>
        </li>
      <%}%>

      <% if (six !== null && six != '' ){%>
        <li>
          <a href=""> <%= six %> </a>
        </li>
      <%}%>
    </ul>
  </div>
</div>