<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138255884-1"></script>
  <%- js('js/analytics.js')%>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Hub KB.S: Citations, Research, Software Development, General Printing</title>
  <meta name="title" content= "Hub KB.S: Citations, Research, Software Development, General Printing" />
  <meta name="description" content="Hub KB.S combines professionalism with excellence to meet customer demands." />
  <meta name="keywords" content= "Citations, Research, Data Analysis, Software Development, Printing, Website Development, Picture frames, Research Consultation" />
  <meta name="robots" content="index, nofollow">
  <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
  <%- css('css/util') %>
  <%- css('css/main') %>
  <%- js('js/jquery.min') %>
  <%- js('js/scroll-out.min') %>
  <%- js('js/mailer.js') %>
  <%- js('js/core.js') %>
  <%- js('js/hamburger.js')%>
  <!-- <%- js('js/popup.js')%> -->
</head>
