
<%- partial('_partials/sections/add-popup', { title: 'Discount', message: 'Order a citation and get 10% discount', end_date: 'Promo ends 31st May' })%>
<%- partial('_partials/hero/large-hero', {type: 'citation', text: 'We have been trusted for years; <br /> Our citations and frames are quality.'}) %>
<section class="tabs">
  <%-partial('_partials/sections/services-tabs', {type: 'citation'}) %>
</section>
<section class="m-t-50">
  <div class="container caption">
    <h2>Quality and Durable Citations come from Hub KB.S</h2>
    <p class="desc">
      We stand out as the leading producer of citations and customised gift cards in Ghana.
      These citations are highly customised with high level of flexibility in the sense that customers are able to show what they want, how they want it, when they want it and where they want it.
      It also gives customers the will to include images and other personal items that vividly describes the recipient. More importantly, the company has experts who generate suitable words for any given occasion or anniversary. 
    </p>
    <p>
      This overwhelming package is given for free to customers as an added advantage for patronising the company’s products. With a little research conducted by the company, it was found that, 8 out of 10 customers will always choose HUB KB.S ltd and no other place for their cards and citations because of the free words the company generates for them. Some customers say they are willing to pay for the words even if the company is to put price on it. This is highly` reasonable because some customers request the company to generate words for them at a very high cost.
    </p>
  </div>
</section>
<%- partial('_partials/sections/image-grid',{
  image_1: '../images/bg/africa.jpg',
  image_2: '../images/bg/africa.jpg'
})%>
<section class="advert advert-bg grid-ui">
  <div class="container grid equal-columns_2 grid-gap_10">
      <div class="img-wrapper img-caption img-pd-l">
        <img src="../images/bg/frame_2.jpg" alt="" class="img-xxl">
      </div>
    <div class="caption">
      <div class="text-wrapper">
          <h4 data-scroll>
            High Quality And Durable Frames
          </h4>
          <p class="desc">
            Suitable for citations, picture frames (including wedding pictures) and drawings.
          </p>
          <p>
            Our frames are customizable, very presentable, attractive and of executive standard. 
            You can present them to anyone of any pedigree and be confident that, it will make them smile.
          </p>
          <p>
            When ever you think of getting quality and affordable frames, just get in touch.
          </p>
      </div>
    </div>
  </div>
</section>
<%- partial('_partials/sections/advert-option__transparent',
{
  heading: 'Customized Citations',
	link: '',
	imageUrl: '../images/bg/joshua_citation.jpg',
  para_1:'Hub KB.S has what it takes to make every one smile. We make your occasions lively and we make every presentation a beautiful one.',
  para_2: ''
})%>
<section class="advert advert-bg grid-ui">
    <div class="container grid equal-columns_2 grid-gap_10">
        <div class="img-wrapper img-caption img-pd-l">
          <img src="../images/bg/frame-sample-2.jpg" alt="" class="img-xxl">
        </div>
      <div class="caption">
        <div class="text-wrapper">
            <h4>
              Sleek and Durable
            </h4>
            <p class="desc">
              Suitable for citations, picture frames (including wedding pictures) and drawings.
            </p>
        </div>
      </div>
    </div>
  </section>
<section class="m-t-50 m-b-50">
  <div class="container caption">
    <h1 data-scroll>Creative Writing</h1>
    <p>
      We also provide services in Creative Writing. Thus, Poems, Articles, etc. we write to cover all range of topics. Currently, we have written a good number of poems on love and relationship, corruption, apologies, betrayal, and other aspect of lives that touch on the emotions and feelings of mankind. Our writings are very real, very inspiring and it triggers the sense of humour in some cases. In addition, we write quotes and proverbs that contain lots of moral lessons. 
      You can contact us for a personalized poem for friends and loved ones to suit an occasion or your special interest.
    </p>
  </div>
</section>
<script src="../js/popup.js"></script>