<%- partial('_partials/header/head') %>
<body id="home">
  <div class="wrapper">
    <header>
        <%- partial('_partials/header/header') %>
    </header>
    <main>
        <%- body %>
    </main>

    <%- partial('_partials/floating-btn')%>
   <footer>
      <%- partial('_partials/footer') %>
   </footer>

   <section class="grid-ui hide">
     <div class="grid">
       <div class="two">
         <div>one</div>
         <div>two</div>
       </div>
       <div class="three">
         <div>one</div>
         <div>two</div>
         <div>three</div>
       </div>
     </div>
   </section>
  </div>
</body>
</html>