<%- partial('_partials/header/head') %>
<body id="home">
  <div class="wrapper">
    <header>
        <%- partial('_partials/header/header') %>
    </header>
    <main>
        <%- body %>
    </main>

    <%- partial('_partials/floating-btn')%>
   <footer>
      <%- partial('_partials/footer') %>
   </footer>
  </div>
</body>
</html>