<%- partial('_partials/header/head') %>
<body id="home">
  <div class="wrapper">
    <header>
        <%- partial('_partials/header/header') %>
    </header>
    <main>
        <%- body %>
    </main>

    <%- partial('_partials/floating-btn')%>

    <%- partial('_partials/footer') %>
    <script>
      ScrollOut({
       threshold: 0.5,
       

       onShown: function(el) {
          // remove the class
          el.classList.remove("animated");

          // force reflow
          void el.offsetWidth;

          // re-add the animated cl
          el.classList.add("animated");
        },
        });
    </script>
  </div>
</body>
</html>