<%- partial('_partials/header/head') %>
<body id="home">
  <div class="wrapper">
    <header>
        <%- partial('_partials/header/header') %>
        <div class="container browser-alert">
           <h3>Unsupported features</h3>
           <p>Some of the features on this web page are not supported by your browser. For a better experience, please update your browser.</p>
           <div class="close_cta" id="close"> <img src="../images/icons/warning.svg" alt=""> </div>
        </div>
    </header>
    <main>
        <%- body %>
    </main>

    <%- partial('_partials/floating-btn')%>

    <%- partial('_partials/footer') %>
    <script>
      ScrollOut({
       threshold: 0.5,
       

       onShown: function(el) {
          // remove the class
          el.classList.remove("animated");

          // force reflow
          void el.offsetWidth;

          // re-add the animated cl
          el.classList.add("animated");
        },
        });
    </script>
  </div>
</body>
</html>